body {
    background-color: #808080;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

section#corpo {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 30px #505050;
    border-radius: 20px;
}

.cartao {
    background-color: #fff;
    box-shadow: 0.5px 0.5px 30px #505050;
    border-radius: 20px;
    margin: 25px;
    padding: 20px;
}

select {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 0.6em;
    padding: 2px;
    width: auto;
    height: auto;
}

/* * Links */
a {
    color: #850101;
    text-decoration: none;
}

a:hover {
    color: #bd0101;
    transition: 0.8s;
}

.detalhes {
    color: #ff4500;
}

.detalhes:hover {
    color: #ffa500;
    transition: 0.8s
}

.detalhesGP {
    color: #1100ff;
}

.detalhesGP:hover {
    color: #5347ff;
    transition: 0.8s
}

.login {
    color: #008000;
}

.login:hover {
    color: #00aa00;
    transition: 0.8s;
}

.ordenar {
    color: #800080;
}

.ordenar:hover {
    color: #b100b1;
    transition: 0.8s;
}


/* Lista */

table.listagem {
    width: 100%;
    text-align: left;
}

table.listagem tr {
    height: 50px;
}

table.listagem td {
    padding: 10px;
}

table.listagem td:nth-child(1) {
    width: 50px;
}

table.listagem td:nth-child(3) {
    width: 90px;
}

table.listagem tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Thumb */

img {
    box-shadow: 0.1px 0.1px 3px #505050;
}

img.mini {
    width: 50px;
}

.cart {
    box-shadow: none;
    width: 80px;
    text-align: center;
}

textarea {
    resize: none; 
    font-size: 0.8em;
}

form#busca {
    font-size: 0.5em;
    text-align: right;
}

input {
    border-radius: 4px;
    border-color: #000000;
    border-style: solid;
    width: 100px;
    height: 20px;
    font-size: 0.6em;
    transition: 0.5s;
}

input:hover {
    background-color: #dfdfdf;
    transition: 0.5s;
}

input[type=submit] {
    background-color: #00009e;
    color: #ffffff;
    border-style: none;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 5px;
    transition: 0.5s;
}

input[type=submit]:hover {
    transition: 0.5s;
    background-color: #ffffff;
    color: #00009e;
}

#capa {
    width: auto;
    height: auto;
    border-style: none;
}

/* Mensagens */

.suc {
    padding: 7px 15px;
    margin: 15px;
    border-radius: 15px;
    background-color: #00ff00;
    color: #005700;
}

.av {
    padding: 7px 15px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(255, 255, 45);
    color: rgb(138, 112, 0);
}

.err {
    padding: 7px 15px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(255, 93, 93);
    color: rgb(156, 0, 0);
}

.ico {
    padding: 0px; 
    font-size: 1em;   
}

.full {
    width: 250px;
    height: 250px;
    margin-left: 255px;
}

.thumb {
    width: 130px;
    height: 150px;
}

#container-new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-prod {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.margin {
    margin-right: 20px;
}

.back {
    margin: 10px;
    margin-top: 20px;
    font-weight: bold;
    width: 10px;
    height: 10px;
    color: #000000;
}

/* * Lupa de pesquisa */

abbr { text-decoration: none; }

abbr#lupa {
    display: inline-block;
    position: relative;
    margin-top: 15px;    
}

abbr#lupa::after {
    content: "";
    background: black; 
    width: 4px;
    height: 15px;
    position: absolute;
    top: 34px;
    right: 2px;
    transform: rotate(146deg);
}

abbr#lupa > input {
    color: black;
    font-size: 16px;
    background: transparent;
    width: 10px;
    height: 10px;
    padding: 10px;
    border: solid 3px black;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

abbr#lupa > input::placeholder {
    opacity: 0;
    transition: opacity 150ms ease-out;
    color: black;
}

abbr#lupa > input:focus::placeholder {
    opacity: 1;
}

abbr#lupa > input:focus, abbr > input :not(:placeholder-shown) {
    width: 200px;
}
